$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #2F08FF;
$secondary_paletteKeyColor: #7D7195;
$tertiary_paletteKeyColor: #8B6B9C;
$neutral_paletteKeyColor: #777683;
$neutral_variant_paletteKeyColor: #777585;
$background: #13121C;
$onBackground: #E4E1EF;
$surface: #13121C;
$surfaceDim: #13121C;
$surfaceBright: #393843;
$surfaceContainerLowest: #0D0D17;
$surfaceContainerLow: #1B1B25;
$surfaceContainer: #1F1F29;
$surfaceContainerHigh: #292934;
$surfaceContainerHighest: #34343F;
$onSurface: #E4E1EF;
$surfaceVariant: #464554;
$onSurfaceVariant: #C7C4D6;
$inverseSurface: #E4E1EF;
$inverseOnSurface: #302F3A;
$outline: #918F9F;
$outlineVariant: #464554;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C2C1FF;
$primary: #C2C1FF;
$onPrimary: #1A00A7;
$primaryContainer: #2800E7;
$onPrimaryContainer: #E2DFFF;
$inversePrimary: #4438FF;
$secondary: #CEC0E8;
$onSecondary: #352B4B;
$secondaryContainer: #4C4163;
$onSecondaryContainer: #EADDFF;
$tertiary: #DEBAEF;
$onTertiary: #402550;
$tertiaryContainer: #A685B7;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E2DFFF;
$primaryFixedDim: #C2C1FF;
$onPrimaryFixed: #0C006A;
$onPrimaryFixedVariant: #2800E7;
$secondaryFixed: #EADDFF;
$secondaryFixedDim: #CEC0E8;
$onSecondaryFixed: #201635;
$onSecondaryFixedVariant: #4C4163;
$tertiaryFixed: #F4D9FF;
$tertiaryFixedDim: #DEBAEF;
$onTertiaryFixed: #2A0F3A;
$onTertiaryFixedVariant: #583B68;
