$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #00FEB1;
$secondary_paletteKeyColor: #537F74;
$tertiary_paletteKeyColor: #3A8280;
$neutral_paletteKeyColor: #6E7A72;
$neutral_variant_paletteKeyColor: #6B7B71;
$background: #0B1610;
$onBackground: #D9E6DC;
$surface: #0B1610;
$surfaceDim: #0B1610;
$surfaceBright: #303C35;
$surfaceContainerLowest: #06100B;
$surfaceContainerLow: #131E18;
$surfaceContainer: #17221C;
$surfaceContainerHigh: #212C26;
$surfaceContainerHighest: #2C3731;
$onSurface: #D9E6DC;
$surfaceVariant: #3B4A41;
$onSurfaceVariant: #BACBBF;
$inverseSurface: #D9E6DC;
$inverseOnSurface: #28332C;
$outline: #84958A;
$outlineVariant: #3B4A41;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00E29D;
$primary: #00E29D;
$onPrimary: #003824;
$primaryContainer: #005236;
$onPrimaryContainer: #47FFB8;
$inversePrimary: #006C49;
$secondary: #A2D0C3;
$onSecondary: #05372E;
$secondaryContainer: #245147;
$onSecondaryContainer: #BFEEE0;
$tertiary: #8CD3D0;
$onTertiary: #003736;
$tertiaryContainer: #559C9A;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #47FFB8;
$primaryFixedDim: #00E29D;
$onPrimaryFixed: #002113;
$onPrimaryFixedVariant: #005236;
$secondaryFixed: #BDECDF;
$secondaryFixedDim: #A2D0C3;
$onSecondaryFixed: #00201A;
$onSecondaryFixedVariant: #224E44;
$tertiaryFixed: #A8EFED;
$tertiaryFixedDim: #8CD3D0;
$onTertiaryFixed: #00201F;
$onTertiaryFixedVariant: #00504E;
