$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #0033FE;
$secondary_paletteKeyColor: #7A7297;
$tertiary_paletteKeyColor: #866D9F;
$neutral_paletteKeyColor: #767682;
$neutral_variant_paletteKeyColor: #757685;
$background: #12131C;
$onBackground: #E2E1EF;
$surface: #12131C;
$surfaceDim: #12131C;
$surfaceBright: #383843;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #1A1B25;
$surfaceContainer: #1E1F29;
$surfaceContainerHigh: #282934;
$surfaceContainerHighest: #33343F;
$onSurface: #E2E1EF;
$surfaceVariant: #454654;
$onSurfaceVariant: #C5C5D6;
$inverseSurface: #E2E1EF;
$inverseOnSurface: #2F303A;
$outline: #8F8F9F;
$outlineVariant: #454654;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BCC3FF;
$primary: #BCC3FF;
$onPrimary: #001A97;
$primaryContainer: #0029D2;
$onPrimaryContainer: #DFE0FF;
$inversePrimary: #1F41FF;
$secondary: #CAC1E9;
$onSecondary: #322C4C;
$secondaryContainer: #494264;
$onSecondaryContainer: #E6DEFF;
$tertiary: #D8BBF3;
$onTertiary: #3C2653;
$tertiaryContainer: #A086BA;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #DFE0FF;
$primaryFixedDim: #BCC3FF;
$onPrimaryFixed: #000D60;
$onPrimaryFixedVariant: #0029D2;
$secondaryFixed: #E6DEFF;
$secondaryFixedDim: #CAC1E9;
$onSecondaryFixed: #1D1736;
$onSecondaryFixedVariant: #494264;
$tertiaryFixed: #EFDBFF;
$tertiaryFixedDim: #D8BBF3;
$onTertiaryFixed: #26103D;
$onTertiaryFixedVariant: #543D6B;
